In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import OrdinalEncoder

In [2]:
df = pd.read_csv('./Data/Immoweb_scraping_result.csv')
df.head()

,id,Locality,Type of property,Subtype of property,Price,Type of sale,Number of rooms,Living Area,Fully equipped kitchen,Furnished,...,Terrace,Terrace area,Garden,Garden area,Surface of the land,Surface area of the plot of land,Number of facades,Swimming pool,State of the building,Compound Listing
0,20320744,1150,APARTMENT,APARTMENT,575000,residential_sale,3,160.0,1.0,0.0,...,1.0,40.0,1.0,290.0,290.0,NaN,NaN,0.0,GOOD,single
1,20317718,9000,APARTMENT,APARTMENT,390000,residential_sale,3,96.0,1.0,0.0,...,1.0,29.0,NaN,NaN,NaN,NaN,2.0,0.0,AS_NEW,compound
2,20315842,9051,APARTMENT,APARTMENT,260000,residential_sale,1,76.0,1.0,0.0,...,1.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,GOOD,compound
3,20315799,9051,APARTMENT,APARTMENT,325000,residential_sale,1,81.0,1.0,0.0,...,1.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,GOOD,compound
4,20315776,9051,APARTMENT,APARTMENT,365000,residential_sale,3,101.0,1.0,0.0,...,1.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,GOOD,compound

# 2.6.1 : How many qualitative and quantitative variables are there?

The columns are considered quantitative if they are assigned a value from a discrete set. For example 'Locality' is co

In [3]:
# How many quantitavie and qualitative variables are there?
quantitative_columns = ['Price', 'Number_of_rooms', 'Living_Area', 'Terrace_area', 'Garden_area', 'Surface_of_the_land'\
                       , 'Surface_area_of_the_plot_of_land', 'Number_of_facades']
qualitative_columns = ['id', 'Locality', 'Type of property', 'Subtype of property', 'Type of sale', 'Fully equipped kitchen', 'Furnished',\
                       'Fireplace', 'Terrace', 'Garden', 'Swimming pool', 'State of the building', 'Compound Listing']

print(f'The dataset contains a total of {len(df.columns)} columns and {df.shape[0]} rows.')
print(f'Out of the {len(df.columns)} columns {len(quantitative_columns)} are quantitative variables.')
print(f'Out of the {len(df.columns)} columns {len(qualitative_columns)} are qualitative variables.')

The dataset contains a total of 21 columns and 15516 rows.
Out of the 21 columns 8 are quantitative variables.
Out of the 21 columns 13 are qualitative variables.

# 2.6.2 How would you transform these values into numerical values?

There are two popular ways of doing this: using an ordinal encoding, and using a one-hot encoding. Ordinal encoding assigns a unique integer to every category. One hot encoding creates a binary feature for every category. Both have their advantages and disadvantages:

- One hot encoding creates extra features making any model fitting more expensive.
- Oridnal encoding can suffer a small accuracy loss in shallow models.

Some columns in the dataset have already been transformed during cleaning, or some categorical columns (like 'id' or 'Locality') are already in integer form.

In [4]:
def ordinalEncode(entry, categories):
    for index, category in enumerate(categories):
        if entry == category:
            return index

def onehotEncode(entry, categories):
    pass

In [5]:
# Using ordinal encoding
columns_to_be_encoded = ['Type of property', 'Subtype of property', 'Type of sale', 'State of the building', 'Compound Listing']

for column in columns_to_be_encoded:
    df[column] = df[column].apply(lambda el: ordinalEncode(el, df[column].unique()))

df.head()

,id,Locality,Type of property,Subtype of property,Price,Type of sale,Number of rooms,Living Area,Fully equipped kitchen,Furnished,...,Terrace,Terrace area,Garden,Garden area,Surface of the land,Surface area of the plot of land,Number of facades,Swimming pool,State of the building,Compound Listing
0,20320744,1150,0,0,575000,0,3,160.0,1.0,0.0,...,1.0,40.0,1.0,290.0,290.0,NaN,NaN,0.0,0.0,0
1,20317718,9000,0,0,390000,0,3,96.0,1.0,0.0,...,1.0,29.0,NaN,NaN,NaN,NaN,2.0,0.0,1.0,1
2,20315842,9051,0,0,260000,0,1,76.0,1.0,0.0,...,1.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1
3,20315799,9051,0,0,325000,0,1,81.0,1.0,0.0,...,1.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1
4,20315776,9051,0,0,365000,0,3,101.0,1.0,0.0,...,1.0,13.0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1

# 2.7 What is the percentage of missing values per column?